#logo {
	height: 4rem;
	margin-top: -0.7rem;
}

h1, #tagline, #result-text {
	text-align: center;
}

#search {
  margin: auto;
  padding-top: 3rem;
	max-width: 85%;
	opacity: 1;
	transition: all 350ms;
}

#result-section {
	margin-top: -3rem;
}

.social-network {
	text-align: center;
}

#chart_div {
	padding-top: 30px;
}

.about-pic {
	max-height: 250px;
	padding-top: 5rem;
}

#content {
	padding-bottom: 110px;
}

@media only screen and (min-width : 768px) {
	#search {
		max-width: 50%;
	}
}
