#logo {
	height: 4rem;
	margin-top: -0.7rem;
}

h1, #tagline, #result-text {
	text-align: center;
}

#search {
  margin: auto;
  padding-top: 4rem;
}

#search {
	max-width: 85%;
}

#result-text {
	padding-top: 4rem;
}

#chart_div {
}

.social-network {
	margin-top: -3rem;
}

.about-pic {
	max-height: 250px;
	padding-top: 5rem;
}

#content {
	padding-bottom: 110px;
}

#chart-table {
	table-layout: fixed;
	margin-left: -7rem;
}

@media only screen and (min-width : 768px) {
	#search {
		max-width: 50%;
	}
}
