.navbar-brand:hover {
  opacity: 0.7;
}

.nav-item:hover {
	background-color: #eee;
}

i {
	color: #6dcff6;
}

#tagline {
	font-size: 2rem;
}

#result-text {
	font-size: 3rem;
}

.panel-footer {
  margin-top: 5rem;
  background-image: linear-gradient(#FFF, #6dcff6);
  border-top: none;
  height: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*social icons, we did not write this code, its from
http://bootsnipp.com/snippets/featured/spinning-social-icons */
ul.social-network {
	list-style: none;
	display: block;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
	margin-left:0;
	padding: 0;
	padding-left: 0;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoLink:hover {
	background-color:#d84949;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoLink:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;
}
.outline:hover, .outline:active, .outline:focus {
	color: white;
	border-color: #a61c40;
	outline-color: #a61c40;
}
.outline {
	border-color: gold;
	color: gray;
	box-shadow: none;
}

#spin-wheel {
  display: none;
  width:100%;
  text-align: center;
}

#spin-wheel img {
  margin: 0 auto;
}
