<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Retrieved <%= data %></h1>
    <script>
      var dataR = "<%= data %>";
      console.log(dataR);
    </script>
  </body>
</html>
